body{

}

.container{
	position: absolute;
	height: 100%;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;

	-webkit-perspective: 1360px;
	-moz-perspective: 1360px;
	perspective: 1360px;

}

.frame{
	position: absolute;    
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scaleX(0.5);
	overflow: hidden;
	border: none;
}
.frame.left{
	left: -25%;
	-webkit-perspective-origin: 394px 225px; 
}
.frame.right{
	right: -25%;
	-webkit-perspective-origin: 394px 225px; 
}